<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<div id="footer" class="container-fluid sticky-bottom">
    <br>
    <div class="row text-center">
        <div class="col-lg-6">
            <div class="fheading">Chicago Police Department</div>
            <div>
                <br>
                <p id="ftext">
                    A Crime Filtering Website intended to filter crimes by year, month, day, pincode, 
                    district number, area covered, type of crime committed & number of cases.
                    It makes use of Spatial & Graphical queries.
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <section>
                <div class="fheading">Links</div>
                <br>
                <ul class="p-0">
                    <li>
                        <a class="flink" href="/">Home</a>
                    </li>
                    <li>
                        <a class="flink" href="/filtercrimes">Filter Crimes</a>
                    </li>
                    <li>
                        <a class="flink" href="/filterlocation">Filter Location</a>
                    </li>
                    <li>
                        <a class="flink" href="/filtercrimetype">Filter Crime Type</a>
                    </li>
                    <li>
                        <a class="flink" href="/statistics">Statistics</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-lg-3">
            <section>
                <div class="fheading">Contact Us</div>
                <br>
                <ul>
                    <li>
                        <span class="ficon">
                            <i class="far fa-envelope"></i>
                        </span>
                        <a class="flink" href="/">CLEARPATH@chicagopolice.org</a>
                    </li>
                    <li>
                        <span class="ficon">
                            <i class="fas fa-phone"></i>
                        </span>
                        <a class="flink" href="/">(312)746-6000(Non-emergency)</a>
                    </li>
                    <br>
                    <li>
                        <i class="fmediaicon fab fa-instagram fa-3x"></i>
                        <i class="fmediaicon fab fa-twitter fa-3x"></i>
                        <i class="fmediaicon fab fa-facebook fa-3x"></i>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>